@model FolderViewModel
@{
    ViewBag.Header = "Explorer";
}

<section class="main">
    <form asp-controller="Home" asp-action="Import" method="post" enctype="multipart/form-data">
        <p>Import from JSON file <input type="file" name="data" /><input type="submit" value="import" /></p>
    </form>
    @if (Model.Folders.Any())
    {
        <button><a asp-controller="Home" asp-action="Export">Export</a></button>
    }
    else
    {
        <p>Nothing to export</p>
    }
    @ViewBag.Error
    @ViewBag.Success
    <div class="header">
    @if (Model.Folder != null)
    {
        <h2>"Folder" - @Model.Folder.Name</h2>    
    }
    else
    {
        <h2>Root directory</h2>
    }
    </div>
    <ul>
    @if (Model.Folders != null && Model.Folders.Any())
    {
        @foreach (var item in Model.Folders)
        {
            <li><a asp-area="" asp-controller="Home" asp-action="OpenFolder" asp-route-id="@item.Id">@item.Name</a></li>
        }
    }
    </ul>
</section>